/* Imports Section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* --------------------------------------------------------------------------------------------------------- */
/* Navbar Section */
.navbar {
    justify-content: space-between;
    background: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.logo img {
    width: 30px;
    margin-right: 15px;
    display: block;
}

.search-box {
    background: #f0f2f5;
    width: 250px;
    border-radius: 20px;
    padding: 0 15px;
}

.search-box img {
    width: 14px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: 0;
}

.navbar-center ul li {
    display: inline-block;
    list-style: none;
}

.navbar-center ul li a {
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
}

.navbar-center ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #045be6;
    position: absolute;
    bottom: -15px;
    transition: width 0.3s ease-out;
}

.navbar-center ul li a:hover::after,
.navbar-center ul li a.active_link::after {
    width: 100%;
}

.navbar-center ul li a img {
    width: 30px;
}

.nav-profile-img {
    width: 40px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background: #41db51;
    position: absolute;
}

/* --------------------------------------------------------------------------------------------------------- */
/* Profile Drop down menu */
.profile-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.profile-menu-wrap.open-menu{
    max-height: 400px;
}
.profile-menu{
    background: #222;
    color:#fff ;
    padding: 20px;
    margin: 10px;
}
.user-info img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.user-info h3{
    font-weight: 600;
    margin-bottom: -5px;
}
.user-info a{
    color: #c9dbf8;
    font-size: 13px;
}
.profile-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 15px 0 10px;
}
.profile-menu-link{
    color: #fff;
    margin: 12px 0;
    font-size: 14px;
}
.profile-menu-link p{
    width: 100%;
}
.profile-menu-link img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

/* --------------------------------------------------------------------------------- */
/* Media Query for small screen */
@media only screen and (max-width: 768px){
    .navbar-center ul li a span{
        display: none;
    }
}
@media only screen and (max-width: 1024px){
    .search-box{
        background: transparent;
        width: auto;
        padding: 0;
    }
    .search-box input{
        width: 0;
        padding: 0;
    }
    .navbar-center ul li a{
        padding-right: 0;
        margin: 5px;
    }
    .nav-profile-img{
        width: 30px;
    }
}

